:root {
    display: flex;
    margin: 0;
    padding: 2rem;
    background-color: black;
    color: white;
    max-width: 100vh;
    max-height: 100vh;
}

.navi {
    display: flex;
    justify-content:flex-start;
    
}

nav {
    margin: 0;
    padding: 10rem;
    display: flex;
    flex-wrap: wrap;
}


.logo {    
}


.ul-new {
    font-size: 25pt;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: white;
}

a:hover {
    color: black;
    background-color: gold;
}

/*
Footer sets
===============*/
footer {
}

.div-footer {
    border: 3px solid white;
}


section {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.ul-newer {
    font-size: 20pt;
    list-style: none;
}